<div id="home">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Yennifer Lenzberg Arquitectura </mat-card-title>
      <mat-card-subtitle> Restauraciones y Arquictura </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div id="logo-icono1">
        <p><img src="assets/icons/yenniferlenzbergicon.png" alt=""></p>
      </div>

      <!-- //////////////////////////////////////////////////////////////// -->
      <div id="intro">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          repellendus sed, molestiae eligendi et nulla voluptatem cumque esse
          saepe cum doloribus fugit laborum placeat asperiores nesciunt dolorem
          id voluptas omnis recusandae? Dolores illo sit culpa ullam rerum
          nostrum amet fuga id voluptate tempora repellat accusamus, pariatur
          corrupti impedit perspiciatis optio mollitia debitis, quas voluptatum,
          nam delectus eum eligendi est. A praesentium nostrum tempora,
          provident sed eligendi rem maiores! Obcaecati maxime, aut cum, facilis
          officia neque mollitia, perferendis excepturi eos sapiente rem et! Nam
          culpa eligendi ipsa quis voluptatum ab quibusdam id recusandae eius ut
          ea porro, repellendus fugiat exercitationem, nisi ducimus! Nesciunt
          voluptates molestiae cumque aut mollitia, sunt, dignissimos vero enim
          officia possimus animi debitis iusto voluptatum est omnis corrupti
          excepturi? Vitae, 
        </p>
      </div>

      <div id="footerhome">
        <mat-card class="custom-card">
          <mat-card-header>
            <mat-card-title>Contacto</mat-card-title>
            <mat-card-subtitle class="custom-card">
              (+5411) 123 123 (+5411) 123 123 jeniferlenzberg-gmail.com
              <br />
              2023 Buenos Aires Argentina
              <br />
            </mat-card-subtitle>
          </mat-card-header>
        
          <!-- //////////////////////////////////////////////////////////////// -->

          
          <mat-card-actions>
          <button
              mat-fab
              extended
              color="primary"
              href="https://www.facebook.com/yenniferlenzberg"
            >
              <img
                src="assets/icons/square-facebook.svg"
                alt="Facebook Logo"
                width="30"
                height="30"
              />
            </button>

            <br />
            <button
              mat-fab
              extended
              color="primary"
              href="https://www.instagram.com/yenniferlenzberg_"
            >
              <img
                src="assets/icons/square-instagram.svg"
                alt="Instagram Logo"
                width="30"
                height="30"
              />
            </button>
            <br />

            <button
              mat-fab
              extended
              color="primary"
              href="https://wa.me/+541150490152"
            >
              <img
                src="assets/icons/square-whatsapp.svg"
                alt="Whatsapp Logo"
                width="30"
                height="30"
              />
            </button>
           </mat-card-actions>
        </mat-card>
       </div>
    </mat-card-content>
  </mat-card>
</div>
